.header {
    background: $green;
    color: white;
    margin-bottom: $m-size;
    padding: $m-size 0;
}

.header__upper {
    display: flex;
    margin-bottom: .5rem;
}

// BEM naming convention (Block Element Modifier)
.header__title {
    font-size: $l-size;
    margin: 0;
}

.header__subtitle {
    color: white;
    line-height: 1.5em;
    font-size: 1.3em;
    margin: 0;
    letter-spacing: 0.25rem;
}

@media (min-width: $desktop-breakpoint) {
    .header {
        margin-bottom: $l-size;
    }
}